/*Iran Sans*/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/iransans/IRANSans_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/iransans/IRANSans_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/iransans/IRANSans.ttf') format('truetype');
}

/*Kalameh*/
@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/kalameh/Kalameh_Black.ttf') format('truetype');
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/kalameh/Kalameh_Bold.ttf') format('truetype');
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/kalameh/Kalameh_Regular.ttf') format('truetype');
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/kalameh/Kalameh_thin.ttf') format('truetype');
}

/* Panton Black */
@font-face {
  font-family: PantonBlack;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/pantonblack/PANTON-BLACKCAPS.OTF') format('opentype');
}

/* Roboto */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}


.font-iransans {
  font-family: IRANSans;
}

.font-kalameh {
  font-family: Kalameh;
}

.font-roboto {
  font-family: Roboto;
}

.font-Pantonblack {
  font-family: PantonBlack;
}